<footer class="page-footer indigo z-depth-1">
    <div class="container">
        <div class="row center">
            <div class="">
                <h1>友情链接</h1>
                <a class="chip" href="http://www.oschina.net">
                    <img src="http://www.oschina.net/img/favicon.ico" alt="开源中国">
                    开源中国
                </a>
                <a class="chip" href="http://www.jfinal.com/">
                    <img src="http://www.jfinal.com/favicon.ico" alt="JFinal">
                    JFinal
                </a>
                <a class="chip" href="http://www.materializecss.com">
                    <img src="http://www.materializecss.com/images/favicon/favicon-32x32.png" alt="Materialize">
                    Materialize
                </a>
                <a class="chip" href="http://jfbbs.tomoya.cn">
                    <img src="http://jfbbs.tomoya.cn/favicon.ico" alt="JFinal社区">
                    JFinal社区
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="center">
            &copy;Soi 2015 All rights reserved.
        </div>
    </div>
</footer>
<!--javascript-->
<script src="assets/js/jq/jquery-1.11.3.js"></script>
<script src="assets/materialize/js/materialize.min.js"></script>