<meta name="description" content="Soi个人博客">
<meta name="keywords"
      content="java,Java,博客,Soi,Soi个人博客,jfinal,JFinal,material,material design,materialize,materializecss">
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="IE=edge;Chrome=1">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- baidu site verify-->
<meta name="baidu-site-verification" content="LbbRuwwMDT"/>

<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">

<title>${title!}</title>

<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit"/>

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Soi个人博客"/>


<!-- css link -->
<link rel="stylesheet" href="/assets/materialize/css/materialize.min.css">
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/markdown/css/editormd.min.css">
<!-- script -->
<script src="/assets/js/date.ext.js"></script>
<script>
    (function () {
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
