<div class="hiddendiv"></div>
<!-- header -->
<header class="header indigo z-depth-1">
    <a id="top"></a>
    <img src="/assets/images/xn.png" class="circle responsive-img" alt="">
    <h1>Soi</h1>
    <p>Source of infection</p>
    <div class="container">
        <nav class="indigo lighten" style="box-shadow: none;">
            <div class="nav-wrapper">
                <a href="#" data-activates="mobile-mode" class="button-collapse">
                    <i class="mdi-navigation-menu"></i>
                </a>
                <ul class="hide-on-med-and-down">
                    <li><a href="/" class="waves-effect waves-light">首页&nbsp;|&nbsp;Home</a></li>
                    <li><a href="/article/1-10.html" class="waves-effect waves-light">文章&nbsp;|&nbsp;Article</a></li>
                    <li><a href="/about.html" class="waves-effect waves-light">关于&nbsp;|&nbsp;About</a></li>
                </ul>
                <ul class="side-nav mobile-mode" id="mobile-mode">
                    <li><a href="/" class="waves-effect waves-light">首页&nbsp;|&nbsp;Home</a></li>
                    <li><a href="/article/1-10.html" class="waves-effect waves-light">文章&nbsp;|&nbsp;Article</a></li>
                    <li><a href="/about.html" class="waves-effect waves-light">关于&nbsp;|&nbsp;About</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
