<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="IE=edge;Chrome=1">
<meta name="renderer" content="webkit"/>
<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
<title>Soi个人博客-Soi Blog</title>

<!-- css link -->
<link rel="stylesheet" href="/assets/materialize/css/materialize.min.css">
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/markdown/css/editormd.min.css">
<!-- script -->
<script src="/assets/js/date.ext.js"></script>