<div id="last_article_list" class="collection with-header z-depth-1">
    <div class="collapsible-header indigo-text text-darken-4"> 最新文章&nbsp;|&nbsp;Latest</div>
    <a href="/article/detail/1.html" class="collection-item waves-effect waves-light">Alvin</a>
    <a href="#!" class="collection-item waves-effect waves-light">Alvin</a>
    <a href="#!" class="collection-item waves-effect waves-light">Alvin</a>
    <a href="#!" class="collection-item waves-effect waves-light">Alvin</a>
    <a href="#!" class="collection-item waves-effect waves-light">Alvin</a>
</div>

<div id="hot_article_list" class="collection with-header z-depth-1">
    <div class="collapsible-header indigo-text text-darken-4"> 最热文章&nbsp;|&nbsp;Hot</div>
    <a href="/article/detail/1.html" class="collection-item waves-effect waves-light">Alvin</a>
    <a href="#!" class="collection-item waves-effect waves-light">Alvin</a>
    <a href="#!" class="collection-item waves-effect waves-light">Alvin</a>
    <a href="#!" class="collection-item waves-effect waves-light">Alvin</a>
    <a href="#!" class="collection-item waves-effect waves-light">Alvin</a>
</div>